h1{color: orange;
    font-family:Arial, Helvetica, sans-serif;}
    body{background:skyblue;font-family: Arial, Helvetica, sans-serif;
    color: rgb(254, 254, 254);
margin:0;
padding:0;
display:flex;
flex-direction:column;}
    header{background:darkblue;
        color:rgb(220, 164, 12);
        padding:20px;

       }
footer{background:darkblue;
    color:rgb(227, 126, 17);
    padding:10px 20px;
    bottom: 0;
    padding:5em;
    margin-top:auto;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.features figure {background:orange;
    
    display:flex;
    flex-direction:column;
    padding: 24em;
    margin:auto;


    
}
select{background-color: orange;}

.features figure img{
width: 700px;
height: 600px;}
div{background:rgb(206, 23, 23);
margin:auto;  
width:100px;}
ul{margin:0;
padding:0;
list-style-type:none;
}

li{display:inline-block;
margin-right:20px;}
*{box-sizing:border-box;
}
figcaption{ color: black;
background:white;}
h2{ margin:30px;
color: black;}
p{color: black;
font-family: Arial, Helvetica, sans-serif;
}
section{background-color: orange;
    
}
div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;}

    .wrapper{max-height: 120px;
        border:1px solid #ddd ;

        
        
        
        overflow-x: auto;}